<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hugeprimes</title>
  </head>
  <body>
    <h2> 22952152323332505688670761214671498225451684330137990990356473040741684014997701799009910066964917896400501477 is a very large number that is the product of two primes (aka a semiprime)
    <h2>Input two numbers, a and b, that multiply together to equal this very large number, and input them below. Assume that a >= 2 and b >= 2</h2>
    <form action="/factors" method="POST">
      <input type="text" placeholder="a" name="a">
      <input type="text" placeholder="b" name="b">
      <button type="submit">Submit</button>
    </form>
    <%= flag %>
  </body>
</html>
